USE [QuanLyPhongTro]
GO
/****** Object:  User [KH19      ]    Script Date: 29/11/2017 2:43:44 PM ******/
CREATE USER [KH19      ] FOR LOGIN [KH19      ] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [userQLALL]    Script Date: 29/11/2017 2:43:44 PM ******/
CREATE USER [userQLALL] FOR LOGIN [userQLALL] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [QLALL]    Script Date: 29/11/2017 2:43:44 PM ******/
CREATE ROLE [QLALL]
GO
/****** Object:  DatabaseRole [QLK]    Script Date: 29/11/2017 2:43:44 PM ******/
CREATE ROLE [QLK]
GO
/****** Object:  DatabaseRole [USERKH]    Script Date: 29/11/2017 2:43:44 PM ******/
CREATE ROLE [USERKH]
GO
ALTER ROLE [USERKH] ADD MEMBER [KH19      ]
GO
ALTER ROLE [QLALL] ADD MEMBER [userQLALL]
GO
/****** Object:  UserDefinedFunction [dbo].[layMatKhau]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[layMatKhau](@ID nchar(10))
returns nvarchar(50)
as
begin
declare @kq nvarchar(50)
select @kq = TaiKhoan.PassWord
from TaiKhoan
where TaiKhoan.ID = @ID
return @kq
end

-------------chọn những phòng trọ trang bị giá <200000 hoặc không có----------

GO
/****** Object:  UserDefinedFunction [dbo].[Tinhtongthang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[Tinhtongthang](@thang int)
returns float
as 
begin
   declare @kq float
   select @kq=sum(TONGTIEN)
   from PHIEUTHANHTOAN
   where month(NGAYTT)=@thang
   group by MAPTT

   return @kq
end
----lietj ke nhung khach hang theo thang


GO
/****** Object:  UserDefinedFunction [dbo].[TONGTIEN]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TONGTIEN] (
@MaPTT nchar(10)
)
returns FLOAT
as
begin
  declare @sum float
  declare @sothang int
  declare @giap float
  declare @giatb float
  declare @giadv float
  set @sothang=(Select SOTHANG from PHIEUTHANHTOAN where MAPTT=@MaPTT)
  set @giap=(select GIAPHONG from PHONGTRO,PHIEUDANGKY,PHIEUTHANHTOAN 
  where PHONGTRO.MAPHONG=PHIEUDANGKY.SOPHONG and PHIEUDANGKY.MAPDK=PHIEUTHANHTOAN.MAPDK and PHIEUTHANHTOAN.MAPTT=@MaPTT)
  set @giadv=(select sum(GIADV) from DICHVU,DANGKY_DV,PHIEUTHANHTOAN 
  where DICHVU.MADV=DANGKY_DV.MADV and DANGKY_DV.MAPDK=PHIEUTHANHTOAN.MAPDK and PHIEUTHANHTOAN.MAPTT=@MaPTT)
  set @giatb=(select SUM(GIATB) from THIETBI,PHIEUDANGKY,PHIEUTHANHTOAN 
  where THIETBI.MATB=PHIEUDANGKY.MATB and PHIEUDANGKY.MAPDK=PHIEUTHANHTOAN.MAPDK and PHIEUTHANHTOAN.MAPTT=@MaPTT)
  set @sum=(@giap+@giadv)*@sothang+@giatb
  return @sum
end

GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[Username] [nchar](10) NULL,
	[Pwd] [nvarchar](25) NULL,
	[MaQ] [nchar](10) NULL,
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY_DV]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY_DV](
	[MADV] [nchar](10) NOT NULL,
	[MAPDK] [nchar](10) NOT NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nchar](10) NOT NULL,
	[TENDV] [nvarchar](20) NULL,
	[GIADV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MAPTT] [nchar](10) NULL,
	[NGAYLAPHD] [date] NULL,
	[THUEVAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [nvarchar](20) NULL,
	[NGAYSINH] [date] NULL,
	[SOCMND] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[SDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUDANGKY]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDANGKY](
	[MAPDK] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NULL,
	[NGAYTHUE] [date] NULL,
	[NGAYTRA] [date] NULL,
	[SOPHONG] [nchar](10) NULL,
	[MATB] [nchar](10) NULL,
	[TRATRUOC] [float] NULL,
	[TRASAU] [float] NULL,
	[CHUTHICH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHANHTOAN]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHANHTOAN](
	[MAPTT] [nchar](10) NOT NULL,
	[MAPDK] [nchar](10) NULL,
	[SOTHANG] [int] NULL,
	[NGAYTT] [date] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGTRO]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGTRO](
	[MAPHONG] [nchar](10) NOT NULL,
	[TENPHONG] [varchar](20) NULL,
	[HIENTRANGPHONG] [bit] NULL,
	[GIAPHONG] [float] NULL,
	[SOLUONGNGUOI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MaQ] [nchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [nchar](10) NOT NULL,
	[TENTB] [nvarchar](50) NULL,
	[GIATB] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANGBI]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGBI](
	[MAPHONG] [nchar](10) NOT NULL,
	[MATB] [nchar](10) NOT NULL,
	[NGAYTRANGBI] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[PTlow]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[PTlow]()
returns table
as return 
(
    select * from PHONGTRO
	where MAPHONG not in (select MAPHONG from TRANGBI) or GIAPHONG <2000000
)


GO
/****** Object:  UserDefinedFunction [dbo].[sp_Thongkhthang9]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[sp_Thongkhthang9](@thang int)
returns table
as return
(
select *
from KHACHHANG
where MONTH(NGAYSINH)=@thang
)

---------------Laymatkhau-------------

GO
/****** Object:  UserDefinedFunction [dbo].[timKH]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[timKH](@MaKH nchar(10))
returns table
as return
(
  select *
  from KHACHHANG
  where MAKH=@MaKH
)
----------tim theo so luong nguoi cua phong----

GO
/****** Object:  UserDefinedFunction [dbo].[TimPhong]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[TimPhong](@SLnguoi int)
returns table
as return 
(
   select *
   from PHONGTRO
   where SOLUONGNGUOI=@SLnguoi
)
--------------thong ke những Phiếu thanh toán có tổng tiền lớn hơn @

GO
/****** Object:  UserDefinedFunction [dbo].[TKHoaDon]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[TKHoaDon](@tongtien float)
returns table
as return 
(
   select *
   from PHIEUTHANHTOAN
   where TONGTIEN > @tongtien
)



----------------tinh tổng doanh thu trong tháng @ của nhà trọ-----

GO
/****** Object:  View [dbo].[thongkeHoaDon]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[thongkeHoaDon]
AS
SELECT KHACHHANG.TENKH,KHACHHANG.SOCMND,PHONGTRO.TENPHONG,DICHVU.TENDV,PHIEUDANGKY.NGAYTHUE,PHIEUTHANHTOAN.TONGTIEN,HOADON.NGAYLAPHD 
FROM KHACHHANG inner join PHIEUDANGKY on KHACHHANG.MAKH=PHIEUDANGKY.MAKH inner join PHONGTRO on PHIEUDANGKY.SOPHONG=PHONGTRO.MAPHONG 
inner join DANGKY_DV on DANGKY_DV.MAPDK=PHIEUDANGKY.MAPDK inner join DICHVU on DICHVU.MADV=DANGKY_DV.MADV inner join PHIEUTHANHTOAN on PHIEUTHANHTOAN.MAPDK
= PHIEUDANGKY.MAPDK inner join HOADON on HOADON.MAPTT=PHIEUTHANHTOAN.MAPTT
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([MaQ])
REFERENCES [dbo].[QUYEN] ([MaQ])
GO
ALTER TABLE [dbo].[DANGKY_DV]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[DANGKY_DV]  WITH CHECK ADD FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAPTT])
REFERENCES [dbo].[PHIEUTHANHTOAN] ([MAPTT])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[PHONGTRO] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MAPDK])
GO
ALTER TABLE [dbo].[TRANGBI]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGTRO] ([MAPHONG])
GO
ALTER TABLE [dbo].[TRANGBI]  WITH CHECK ADD FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CHK_DV_GiaDV] CHECK  (([GIADV]>(0)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CHK_DV_GiaDV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CHK_NgaySinh] CHECK  (([NGAYSINH]<getdate()))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CHK_NgaySinh]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CHK_PHIEUDANGKY] CHECK  (([NGAYTRA]>[NGAYTHUE]))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CHK_PHIEUDANGKY]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [CHK_PHIEUDANGKY_TraTruoc] CHECK  (([TRATRUOC]>(500000)))
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [CHK_PHIEUDANGKY_TraTruoc]
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [CHK_PHIEUTT_SoThang] CHECK  (([SOTHANG]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN] CHECK CONSTRAINT [CHK_PHIEUTT_SoThang]
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [CHK_PHIEUTT_TongTien] CHECK  (([TONGTIEN]>(500000)))
GO
ALTER TABLE [dbo].[PHIEUTHANHTOAN] CHECK CONSTRAINT [CHK_PHIEUTT_TongTien]
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD  CONSTRAINT [CHK_PT] CHECK  (([GIAPHONG]>(500000)))
GO
ALTER TABLE [dbo].[PHONGTRO] CHECK CONSTRAINT [CHK_PT]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [CHK_TB] CHECK  (([GIATB]>(0)))
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [CHK_TB]
GO
/****** Object:  StoredProcedure [dbo].[khongDV]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[khongDV]
as 
begin
   select KHACHHANG.MAKH,TENKH,KHACHHANG.NGAYSINH,NGHENGHIEP,MAPDK
   from KHACHHANG,PHIEUDANGKY
   where KHACHHANG.MAKH=PHIEUDANGKY.MAKH and PHIEUDANGKY.MAPDK not in (select MAPDK from DANGKY_DV)
end

----liet ke cac dich vu được nhiều khách hàng sử dụng nhất

GO
/****** Object:  StoredProcedure [dbo].[SLptrong]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[SLptrong]
as 
begin
   select count(MAPHONG) as soluongcontrong
   from PHONGTRO
   where HIENTRANGPHONG='false'
   group by MAPHONG
    
end

--execute sp_Thongkhthang9;

--go

----liet ke những hóa đơn được lập sau khi thanh toán 1 trở lên

GO
/****** Object:  StoredProcedure [dbo].[sp_addAccount]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_addAccount]
@MaKH nchar(10),
@Pass nchar(10)
as
begin
	insert into ACCOUNTS values(@MaKH,@Pass,'USERKH');
	 execute sp_addrolemember 'USERKH',@MaKH;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_addTaiKhoan]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_addTaiKhoan]
@username nchar(10),
@pass nvarchar(25)
as
begin
	declare @SqlStringCreateLogin nvarchar(max)
	set @SqlStringCreateLogin='create LOGIN ['+@username+'] with password='''+@pass+''''+
	', DEFAULT_DATABASE=[QuanLyPhongTro],DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON,CHECK_POLICY=ON;'
	exec(@SQLStringCreateLogin)

	declare @SQLStringCreateUser nvarchar(max)
	set @SQLStringCreateUser = 'CREATE USER [' + @username + '] FOR LOGIN [' + @username+']'
	exec(@SQLStringCreateUser)


	if (@@ERROR <> 0)
	begin
	  RAISERROR(N'Có lỗi xảy ra khi tạo tài khoản', 16, 1)
	  rollback transaction
	  return
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhatDangKyDV]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_capnhatDangKyDV]
    @MADV nchar(10),
	@MAPDK nchar(10),		
	@NGAYBATDAU date,
	@NGAYKETHUC date
AS
Begin
begin tran
if(@NGAYBATDAU='')
begin
raiserror('ngày bắt đầu không được để trống!', 16, 1)
rollback
return
end
   Update DANGKY_DV
   set  MADV=@MADV,MAPDK=@MAPDK,NGAYBATDAU=@NGAYBATDAU,NGAYKETHUC=@NGAYKETHUC
   where MADV=@MADV and MAPDK=@MAPDK
End
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhatDichVu]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_capnhatDichVu]
    @MADV nchar(10),
	@TENDV nvarchar(10),		
	@GIADV float
AS
Begin
begin tran
if(@GIADV='')
begin
raiserror('giá dv không được để trống!', 16, 1)
rollback
return
end
   Update DICHVU
   set  MADV=@MADV,TENDV=@TENDV,GIADV=@GIADV
   where MADV=@MADV
End
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhatKhachHang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_capnhatKhachHang]
    @MaKH nchar(10),
	@TenKH nvarchar(10),
	@NgaySinh date,
	@Socmnd nvarchar(10),
	@DiaChi nvarchar(10),
	@NgheNghiep nvarchar(10),
	@SDT nvarchar(10)
AS
Begin
begin tran
	if(@TenKH='')
		begin
			raiserror('Họ tên khách hàng không được để trống!', 16, 1)
			rollback
			return
		end
   Update KHACHHANG
   set MAKH=@MaKH,TENKH=@TenKH,NGAYSINH=@NgaySinh,SOCMND=@Socmnd,DIACHI=@DiaChi,NGHENGHIEP=@NgheNghiep,SDT=@SDT
   where MAKH=@MaKH
End
if(@@ERROR <> 0)
	begin
		raiserror('Error', 16,1)
		rollback
		return
	end
commit tran

GO
/****** Object:  StoredProcedure [dbo].[sp_capnhatPDK]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_capnhatPDK]
   @MaPDK nchar(10),
	@MaKH nchar(10),
	@NGAYTHUE date,
	@NGAYTRA date,
	@SOPHONG nvarchar(10),
	@MaTB nchar(10),
	@TRATRUOC float,
	@TRASAU float,
	@CHUTHICH nvarchar(10)
AS
Begin
begin tran
if(@NGAYTHUE='')
begin
raiserror('ngay thue không được để trống!', 16, 1)
rollback
return
end
   Update PHIEUDANGKY
   set MAKH=@MaKH, MAPDK=@MaPDK,NGAYTHUE=@NGAYTHUE,NGAYTRA=@NGAYTRA,SOPHONG=@SOPHONG,MATB=@MaTB,TRATRUOC=@TRATRUOC,TRASAU=@TRASAU,CHUTHICH=@CHUTHICH
   where MAPDK=@MaPDK
End
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_capnhatPTT]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_capnhatPTT]
    @MaPTT nchar(10),
	@MaPDK nchar(10),	
	@SOTHANG int,
	@NGAYTT date,
	@TONGTIEN float
AS
Begin
begin tran
if(@SOTHANG='')
begin
raiserror('tháng thuê không được để trống!', 16, 1)
rollback
return
end
   Update PHIEUTHANHTOAN
   set MAPTT=@MaPTT, MAPDK=@MaPDK,SOTHANG=@SOTHANG,NGAYTT=@NGAYTT,TONGTIEN=@TONGTIEN
   where MAPTT=@MaPTT
End
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_capNhatQuyen]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_capNhatQuyen](@MaROLE nchar(10),@user nchar(10))
as
  begin
      update ACCOUNTS set MaQ=@MaROLE where Username=@user
      execute sp_addrolemember @MaROLE,@user;
  end

GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePassWord]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ChangePassWord]
@Username nvarchar(5),
@Passwordmoi  nvarchar(5),
@Passwordcu nvarchar(5)
as
begin
	update ACCOUNTS set ACCOUNTS.Pwd = @Passwordmoi where Username = @Username
	execute sp_password @old =@Passwordcu, @new =@Passwordmoi, @loginame = @Username
	if (@@ERROR<>0)
	begin
	RAISERROR(N' Có lỗi xảy ra khi đổi mật khẩu', 16, 1)
	rollback tran
	return	
	end		
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLogin]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[sp_CheckLogin]
(
@Username nvarchar(20),
@Password nvarchar(20)
)
as
	begin
			if exists (select *from Accounts where Username=@Username
			and Accounts.Pwd=@Password)
			begin
				select *from Accounts where Username=@Username
				and Accounts.Pwd=@Password
			end	
			else
			begin
				RAISERROR(N' Có lỗi xảy ra ', 16, 1)
				rollback tran
				return	
			end	
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteAccount]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_deleteAccount]
@MaKH nchar(10)
as
begin
	DELETE dbo.ACCOUNTS WHERE Username = @MaKH
end
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteKhachHang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_deleteKhachHang]
@MaKH nchar(10)
as

begin 

	exec sp_deleteTaiKhoan @MaKH
	exec sp_deleteAccount @MaKH
	delete from KHACHHANG
	where MAKH = @MaKH
	if (@@ERROR<>0)
	begin
		raiserror ('Error',16,1)
		rollback tran
		return
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteTaiKhoan]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_deleteTaiKhoan](
@MaKH varchar(10))
as begin
	declare @DropLogin varchar(MAX)
	declare @DropUser varchar(MAX)
	SET @DropLogin = 'DROP LOGIN '+@MaKH
	SET @DropUser = 'DROP USER '+@MaKH
	DELETE dbo.KHACHHANG where MAKH=@MaKH
	DELETE dbo.PHIEUDANGKY where MAKH=@MaKH
	DELETE dbo.ACCOUNTS WHERE Username = @MaKH
	
	EXEC(@DropLogin)
	EXEC(@DropUser)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertKhachHang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertKhachHang]
@MaKH nchar(10),
@TenKH nvarchar(20),
@NgaySinh date,
@CMND int,
@DiaChi nvarchar(50),
@NgheNghiep nvarchar(50),
@SDT int
as
begin 

	if(@MaKH is null)
	begin
		raiserror('Ma khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	if(@TenKH = '')
	begin
		raiserror('Ho Ten khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	if(@NgaySinh > getdate())
	begin
		raiserror('Ngày sinh khach hang khong duoc lon hon ngay hien tai!', 16, 1)
		rollback
		return
	end

	if(@CMND = '')
	begin
		raiserror('CMND khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	insert into KHACHHANG values(@MaKH,@TenKH,@NgaySinh,@CMND,@DiaChi,@NgheNghiep,@SDT)
	exec dbo.sp_addTaiKhoan @MaKH,'123'
	exec dbo.sp_addAccount @MaKH,'123'
	if(@@ERROR<>0)
	begin
		raiserror('Error',16,1)
		rollback
		return
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraDangNhap]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure  [dbo].[sp_KiemTraDangNhap]
(
@Username nvarchar(20),
@Password nvarchar(20)
)
as
	begin
			if exists (select *from Accounts where Username=@Username
			and Accounts.Pwd=@Password)
			begin
				select *from Accounts where Username=@Username
				and Accounts.Pwd=@Password
			end	
			else
			begin
				RAISERROR(N' Có lỗi xảy ra ', 16, 1)
				rollback tran
				return	
			end	
	end
GO
/****** Object:  StoredProcedure [dbo].[sp_themDangKyDV]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_themDangKyDV]
    @MADV nchar(10),
	@MAPDK nchar(10),		
	@NGAYBATDAU date,
	@NGAYKETHUC date
as
begin tran
if(@MADV is null)
begin
raiserror('Mã dịch vụ không được để trống', 16, 1)
rollback
return
end
if(@MAPDK ='')
begin
raiserror('mã pdk không được để trống', 16, 1)
rollback
return
end
if(@NGAYBATDAU ='')
begin
raiserror('Phải nhập ngày đăng ký', 16, 1)
rollback
return
end
insert into DANGKY_DV values ( @MADV,@MAPDK,@NGAYBATDAU,@NGAYKETHUC)
if(@@ERROR <>0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
--Xóa đăng ký dịch vụ

GO
/****** Object:  StoredProcedure [dbo].[sp_themDichVu]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_themDichVu]
    @MADV nchar(10),
	@TENDV nvarchar(10),		
	@GIADV float
as
begin tran
if(@MADV is null)
begin
raiserror('Mã dịch vụ không được để trống', 16, 1)
rollback
return
end
if(@TENDV ='')
begin
raiserror('Tên dịch vụ không được để trống', 16, 1)
rollback
return
end
if(@GIADV ='')
begin
raiserror('Phải nhập giá DV', 16, 1)
rollback
return
end
if(@MADV in (select MADV from DICHVU))
begin
raiserror ('Mã dịch vụ  đã bị trùng! Vui lòng nhập lại.',16,1)
rollback
return
end
insert into DICHVU values ( @MADV,@TENDV,@GIADV)
if(@@ERROR <>0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran

GO
/****** Object:  StoredProcedure [dbo].[sp_themKhachHang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_themKhachHang]
@MaKH nchar(10),
@TenKH nvarchar(20),
@NgaySinh date,
@CMND int,
@DiaChi nvarchar(50),
@NgheNghiep nvarchar(50),
@SDT int
as
begin 

	if(@MaKH is null)
	begin
		raiserror('Ma khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	if(@TenKH = '')
	begin
		raiserror('Ho Ten khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	if(@NgaySinh > getdate())
	begin
		raiserror('Ngày sinh khach hang khong duoc lon hon ngay hien tai!', 16, 1)
		rollback
		return
	end

	if(@CMND = '')
	begin
		raiserror('CMND khach hang khong duoc bo trong!', 16, 1)
		rollback
		return
	end

	insert into KHACHHANG values(@MaKH,@TenKH,@NgaySinh,@CMND,@DiaChi,@NgheNghiep,@SDT)
	exec dbo.sp_addTaiKhoan @MaKH,'123'
	exec dbo.sp_addAccount @MaKH,'123'
	if(@@ERROR<>0)
	begin
		raiserror('Error',16,1)
		rollback
		return
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_themPDK]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_themPDK]
    @MaPDK nchar(10),
	@MaKH nchar(10),
	@NGAYTHUE date,
	@NGAYTRA date,
	@SOPHONG nvarchar(10),
	@MaTB nchar(10),
	@TRATRUOC float,
	@TRASAU float,
	@CHUTHICH nvarchar(10)
as
declare @kqMaKH nchar(10)
begin tran
if(@MaKH is null)
begin
raiserror('Mã khách hàng không được để trống', 16, 1)
rollback
return
end
if(@MaPDK ='')
begin
raiserror('Phiếu Đăng Ký không được để trống', 16, 1)
rollback
return
end
if(@SOPHONG ='')
begin
raiserror('Phải nhập số phòng khách hàng', 16, 1)
rollback
return
end
if(@MaPDK in (select MAPDK from PHIEUDANGKY))
begin
raiserror ('Mã Phiếu Đăng Ký đã bị trùng! Vui lòng nhập lại.',16,1)
rollback
return
end
insert into PHIEUDANGKY values (@MaPDK,@MaKH,@NGAYTHUE,@NGAYTRA,@SOPHONG,@MaTB,@TRATRUOC,@TRASAU,@CHUTHICH)
if(@@ERROR <>0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_themPTT]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_themPTT]
    @MaPTT nchar(10),
	@MaPDK nchar(10),	
	@SOTHANG int,
	@NGAYTT date,
	@TONGTIEN float
as
declare @kqMaKH nchar(10)
begin tran
if(@MaPTT is null)
begin
raiserror('Mã Phiếu Thanh Toán không được để trống', 16, 1)
rollback
return
end
if(@MaPDK ='')
begin
raiserror('Phiếu Đăng Ký không được để trống', 16, 1)
rollback
return
end
if(@SOTHANG ='')
begin
raiserror('Phải nhập số tháng khách hàng', 16, 1)
rollback
return
end
if(@MaPTT in (select MAPTT from PHIEUTHANHTOAN))
begin
raiserror ('Mã Phiếu THanh Toán đã bị trùng! Vui lòng nhập lại.',16,1)
rollback
return
end
insert into PHIEUTHANHTOAN values (@MaPTT,@MaPDK,@SOTHANG,@NGAYTT,@TONGTIEN)
if(@@ERROR <>0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_xoaDichVu]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_xoaDichVu]
@MaDV nchar(10)
as
begin tran
delete from DICHVU
where MADV= @MaDV
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[sp_xoaKhachHang]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_xoaKhachHang]
@MaKH nchar(10)
as

begin 

	exec sp_deleteTaiKhoan @MaKH
	exec sp_deleteAccount @MaKH
	delete from KHACHHANG
	where MAKH = @MaKH
	if (@@ERROR<>0)
	begin
		raiserror ('Error',16,1)
		rollback tran
		return
	end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_xoaPDK]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_xoaPDK]
@MaPDK nchar(10)
as
begin tran
		delete from PHIEUDANGKY
		where MAPDK = @MaPDK
	if(@@ERROR <> 0)
	begin
		raiserror('Error', 16,1)
		rollback
		return
	end
commit tran


GO
/****** Object:  StoredProcedure [dbo].[sp_xoaPTT]    Script Date: 29/11/2017 2:43:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_xoaPTT]
@MaPTT nchar(10)
as
begin tran
delete from PHIEUTHANHTOAN
where MAPTT = @MaPTT
if(@@ERROR <> 0)
begin
raiserror('Error', 16,1)
rollback
return
end
commit tran
GO
